/**********************************************************/
/*                                                        */
/* File: app-custom-extension.css                         */
/* Author: David Chocholaty <xchoch09@stud.fit.vutbr.cz>  */
/* Project: Project for the course ITU                    */
/* Description: Custom rules which extends the rules      */
/*              in the app.css file.                      */
/*                                                        */
/**********************************************************/

.card {
    font-size: 1.005rem;
}

.row-center {
    justify-content: center;
}

.hide-by-default {
    display: none;
}
