/**********************************************************/
/*                                                        */
/* File: text-shortening.css                              */
/* Author: David Chocholaty <xchoch09@stud.fit.vutbr.cz>  */
/* Project: Project for the course ITU                    */
/* Description: Styles for the texts.                     */
/*                                                        */
/**********************************************************/

.text-shortening {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15vw;
    white-space: nowrap;
}
